body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    text-align: center;
    font-family:colonna MT;
    letter-spacing: -2px;
    font-size:30px;
}

header nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}
section {
    padding: 2rem 0;
    text-align: center;
}

.section h2 {
    margin-bottom: 1rem;
    color: #333;
}

.skill {
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}